.mainTitle{
    font-family: "Sorce Sans Pro", sans-serif;
    text-align: center;
}

.navBar{
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold ;
    color: black;
    border: 3px solid white;
    position: sticky;
}

.description{
    text-align: center;
    font-family: "Sorce Sans Pro", sans-serif;
}

.patrickimage{
    width: 10%;
}

.cp{
    font-family: "Sorce Sans Pro", sans-serif;
    text-align: center;
}

.pokemonBotGif{
    transform: translateX(20%);
    width: 17%;
}

.pokemonBotButton{
    transform: translateX(20%);
    font-family: "Sorce Sans Pro", sans-serif;
    border: white;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 7px;
    font-size: 200%;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    outline: none;
}
.pokemonBotButton:active{
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.bottomLine{
    transform: translateY(7px);
}

.splash{
    left: 0%;
    top: 0%;
    background: black;
    color: white;
    font-family: "Sorce Sans Pro", sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    line-height: 90vh;
    text-align: center;
    z-index: 1;
}

.splash.display-none{
    opacity: 0;
    color: white;
    font-family: "Sorce Sans Pro", sans-serif;
    position: absolute;
    top 0;
    left 0;
    width: 100%;
    height: 100vh;
    background: black;
    line-height: 90vh;
    text-align: center;
    z-index: -10;
    transition: all 0.5s;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
