.mainTitle{
    font-family: "Sorce Sans Pro", sans-serif;
    text-align: center;
    position: sticky;
    top: 20px
}

.navBar{
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold ;
    color: black;
    border: 6px solid white;
    position: sticky;
    left: 7px;
}

.description{
    text-align: center;
    font-family: "Sorce Sans Pro", sans-serif;
}

.patrickimage{
    width: 10%;
}

.cp{
    font-family: "Sorce Sans Pro", sans-serif;
    text-align: center;
}

.pokemonBotGif{
    min-width: 17%;
    width: 17%;
    position: static;
    border-radius: 20px;
}

.pokemonBotButton{
    transform: translateY(5%);
    font-family: "Sorce Sans Pro", sans-serif;
    border: white;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 7px;
    font-size: 200%;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    outline: none;
}
.pokemonBotButton:active{
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.allCards{
    position: relative;
    left: 10px;
}
